

#container
{
		width:90%;
		margin:auto;
		padding:20px;
		color:#65CCB8;
}

.supp img{
	width:200px;
	height:200px;
	float:left;
	margin-left:10px;
	margin-right:10px;
}

h2,p{
	margin-left:10px;
}



.supp{
	padding:10px;
	clear:both;
	border: 1px solid white;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:80%;
}

